/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333333;
}

header {
    background-image:url("faqss.jpg");
    color: rgb(239, 242, 242);
    padding: 300px;
    text-align: centre;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2em;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.faq-container {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    width: 100%;
    text-align: left;
    background-color: #f4f4f9;
    border: none;
    padding: 15px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question:hover {
    background-color: #36baa4;
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #555;
}

.arrow {
    font-weight: bold;
    font-size: 1.2em;
}

.faq-question.active .arrow {
    transform: rotate(45deg);
    transition: transform 0.3s;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

