/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('gs1.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(149, 177, 182, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 1500px;
    box-shadow: 0 0 20px rgba(147, 185, 192, 0.1);
    text-align: center;
}

h1 {
    color: #00796B;
    margin-bottom: 20px;
}

.intro-text {
    margin-bottom: 30px;
    color: #444;
}

.filter-section {
    margin-bottom: 30px;
}

.filter-section label {
    font-size: 1.2em;
    margin-right: 10px;
}

.filter-section select {
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid #00796B;
}

#schemes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Scheme Card Styles */
.scheme-card {
    background-color: #E0F7FA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.scheme-card h2 {
    color: #00796B;
    margin-bottom: 10px;
}

.scheme-card p {
    color: #555;
}

.scheme-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
